@import "mixins";
@import "vars";
@import "global";
@import "fonts";
/* header start */
.header {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__navigation-list {
        margin-left: 11rem;
    }

    &.all-games {
        background: url("../images/header-bg.jpg");
    }

    &.mobile-games {
        background: url("../images/header-bg2.jpg");
    }

    &.web-games {
        background: url("../images/header-bg3.jpg");
    }

    &.pc-games {
        background: url("../images/header-bg4.jpg");
    }
    
    &.other-games {
        background: url("../images/header-bg5.jpg");
    }
}

.navigation {
    display: flex;
    align-items: center;
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;

    &__language {
        margin-left: auto;
    }

    &__language-link {
        display: flex;
        align-items: center;
        font-family: $Pragmatica-Bold;
        font-size: 1.2rem;
        text-decoration: none;
        color: $color-white;
    }

    &__language-icon {
        margin-right: 0.7rem;
    }
}

.navigation-list {
    display: flex;
    list-style: none;

    &__item {
        & + & {
            margin-left: 5.5rem;
        }
    }

    &__link {
        padding: 0.6rem 0.9rem;
        border-bottom: 2px solid transparent;
        font-family: $Pragmatica-Bold;
        font-size: 1.2rem;
        text-decoration: none;
        color: $color-white;
        transition: all 0.3s ease-in-out;
        &:hover {
            border-bottom: 2px solid $color-white;
        }
    }
}

.logo {
    &__link {
        font-family: $Pragmatica-BoldOblique;
        font-size: 3.6rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $color-electric-lime;
    }
}

.header-content {
    display: flex;
    justify-content: space-between;
    padding-top: 3.7rem;
    padding-bottom: 4.4rem;

    &__info {
        max-width: 58%;
        width: 100%;
    }

    &__title {
        margin: 2.4rem 0;
        font-family: Pragmatica-Black;
        font-size: 6.7rem;
        text-transform: uppercase;
        color: $color-white;
    }

    &__tabs {
        display: flex;
        justify-content: space-between;
        margin-bottom: 9.5rem;
    }

}

.header-content-tab-btn {
    padding: 0;
    border: none;
    font-family: Pragmatica-Black;
    font-size: 2.4rem;
    color: $color-white;
    background: transparent;
    outline: transparent;
    opacity: 0.6;

    &--active {
        opacity: 1;
    }
}

.header-swiper-nav {
    user-select: none;
    &__container {
        margin-bottom: 7rem;
        border-bottom: 3px solid $color-white;
    }
    &__buttons {
        display: flex;
    }

    &__game-genre {
        margin-top: 0;
        margin-bottom: 2.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $color-white;
    }

    &__game-name {
        margin: 0;
        font-family: $Pragmatica-Bold;
        font-size: 1.8rem;
        text-transform: uppercase;
        color: $color-white;
    }

/*     .swiper-slide-active {
        border-bottom: 3px solid $color-white;
    } */
}

.header-swiper-nav .swiper-button-prev,
.header-swiper-nav .swiper-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.2rem;
    height: 5.2rem;
    margin-top: 0;
    margin-right: 1.8rem;
    position: static;
    border: none;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    outline: transparent;
    &::after {
        content: "";
    }
}

.header-swiper {
    width: 38.8rem;

    &__item {
        outline: transparent;
    }
}
.hide {
    display: none;
    background: red;
}
/* header end */
